SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=your_supabase_service_role_key

ZOHO_CLIENT_ID=your_zoho_client_id
ZOHO_CLIENT_SECRET=your_zoho_client_secret
ZOHO_ORGANIZATION_ID=your_zoho_org_id
TOKENS_JSON_PATH=tokens.json

ADMIN_EMAILS=admin@example.com,superadmin@example.com
